# Introductie pandas - Uitwerkingen
Hieronder staan mogelijke uitwerkingen voor de opdrachten uit het notebook introductie_pandas. Je zult mogelijk de paden naar gebruikte data moeten veranderen zodat het werkt in jouw folderstructuur. 

Ga eerst zelf met de opdrachten aan de slag en kijk pas hier als je wilt controleren of je het goed gedaan hebt of als je écht niet verder kunt. Ik raad je aan om altijd eerst te kijken of je online de informatie kunt vinden die je nodig hebt. Dit is hoe data scientisten ook werken. Als je iets wilt programmeren maar de juiste code niet weet, dan ga je kijken of je het online kunt vinden, bijvoorbeeld in de documentatie, op stackoverflow of in een blog. 

Wil je bijvoorbeeld het gemiddelde van een kolom vinden, google dan (bijvoorbeeld) op 'pandas calcalute mean column'. Zorg dat je altijd Python of pandas (of een ander package waar je mee werkt) in je zoekopdracht zet.

Merk op dat er (bijna) altijd meerdere juiste oplossingen zijn. Als je iets anders gedaan hebt dan in dit notebook, maar wel het juiste antwoord hebt gevonden, is het ook goed! En vraag het na tijdens de les bij twijfel!

### Opdrachten bij tutorial 1 - Uitwerkingen

In [2]:
import pandas as pd

In [3]:
cijfers_df = pd.DataFrame({"Studentnummer": [302341, 314345, 374232, 352352], "Opdracht": [5.5, 6.2, 7.1, 9.3], 
                          "Tentamen": [6.1, 4.2, 8.3, 7.8], "Geslaagd": ["Ja", "Nee", "Ja", "Ja"]})

In [4]:
cijfers_df

   Studentnummer  Opdracht  Tentamen Geslaagd
0         302341       5.5       6.1       Ja
1         314345       6.2       4.2      Nee
2         374232       7.1       8.3       Ja
3         352352       9.3       7.8       Ja

### Opdrachten bij tutorial 2 - uitwerkingen

In [ ]:
# Opdracht 1
vgsales = pd.read_csv('../data/vgsales.csv')

In [ ]:
#Opdracht 2
vgsales.head(5)

In [ ]:
#Opdracht 3
vgsales.tail(10)

In [ ]:
#Oprdracht 4
vgsales.dtypes

In [ ]:
#Opdracht 5
vgsales.info()

We zien dat Year, Genre en Publisher null-values bevatten.

In [ ]:
# Opdracht 6
vgsales.to_csv('/path/to/home/vgsales.xlsx', sheet_name="vgsales", index=False)

### Opdrachten bij tutorial 3 - Uitwerkingen

In [ ]:
#Opdracht 1
vgsales_EU = vgsales["EU_Sales"]
vgsales_EU.head()

In [ ]:
#Opdracht 2
vgsales_Year_not_null = vgsales[vgsales["Year"].notna()]
vgsales_Year_not_null.head()

In [ ]:
#Opdracht 3
vgsales_more_10 = vgsales[vgsales["Global_Sales"] > 10 ]
vgsales_more_10.head()

In [ ]:
#Opdracht 4
vgsales_less_05 = vgsales[vgsales["Global_Sales"] < 0.5]
vgsales_less_05.shape

Er zijn dus 12580 games waarvoor de Global Sales lager was dan een half miljoen

In [ ]:
#Oprdracht 5
vgsales_selection = vgsales.iloc[14:50, 1:6]
vgsales_selection

In [ ]:
#Opdracht 6
vgsales_2006 = vgsales[vgsales["Year"]==2006]
vgsales_2006 = vgsales_2006.sort_values('EU_Sales', ascending=False)
vgsales_2006.head()

In [ ]:
#Opdracht 7
vgsales_Nintendo_2008 = vgsales[(vgsales["Publisher"]=="Nintendo") & (vgsales["Year"]==2008) & (vgsales["Genre"]=="Racing")]
vgsales_Nintendo_2008

Dat is er maar 1, alleen Mario Kart Wii

### Opdrachten bij tutorial 4 - uitwerkingen

In [ ]:
#Opdracht 1
vgsales["Total_Sales"] = vgsales["EU_Sales"] + vgsales["NA_Sales"] + vgsales["JP_Sales"] + vgsales["Other_Sales"]

Om te controleren of Total_Sales gelijk is aan Global_Sales kunnen we een Serie van booleans maken, die per rij aangeven of ze gelijk zijn aan elkaar:

In [ ]:
vgsales["Total_Sales"] == vgsales["Global_Sales"]

We kunnen dit gebruiken om die rijen uit het dataframe te selecteren waar ze ook daadwerkelijk gelijk zijn:

In [ ]:
vgsales[vgsales["Total_Sales"] == vgsales["Global_Sales"]]

We zien dat ze in 9826 van de rijen gelijk zijn, en in de andere dus niet.

In [2]:
#Opdracht 2

Om het aantal bins te bekijken kijken we eerst wat het maximum is van EU_Sales

In [ ]:
vgsales['EU_Sales'].max()

In [ ]:
bins = [0,5,10,15,20,25,30]
vgsales['EU_Sales_bins'] = pd.cut(vgsales['EU_Sales'], bins = bins)

## Opdrachten bij tutorial 5 - Uitwerkingen

In [ ]:
#Opdracht 1 
vgsales.describe()

We zien dat het gemiddelde van EU_Sales 0.146652 miljoen is

In [ ]:
#Opdracht 2
vgsales[(vgsales["Publisher"]=="Electronic Arts") & (vgsales["Year"]==2010)].mean()

We zien dat het gemiddelde 0.924773 miljoen is.

In [ ]:
#Opdracht 3
vgsales[(vgsales["Year"]==2016) & (vgsales["Publisher"]=="Nintendo")]["Global_Sales"].sum()

Dus voor 3,47 miljoen.

In [ ]:
#Opdracht 4
vgsales.sort_values(by="Global_Sales", ascending=False).head()

Dat is Wii Sports.

In [ ]:
#Opdracht 5
vgsales_1985 = vgsales[vgsales["Year"]==1985]
vgsales_1985_EUSales_not_zero = vgsales_1985[vgsales_1985["EU_Sales"] > 0]

In [ ]:
vgsales_1985_EUSales_not_zero.sort_values('EU_Sales')

We zien een gedeelde laatste plek voor *Ghostbusters* en *Alter Ego*.

## Opdrachten bij tutorial 6 - Uitwerkingen

### Opracht 1
Maak een DataFrame waarin we van alle klanten first_name en last_name zien, en het amount van alle betalingen die ze gedaan hebben. Klanten die nooit een betaling hebben gedaan willen we niet zien.

In [ ]:
import pandas as pd
payment = pd.read_csv('../data/dvdrental/payment.csv')
customer = pd.read_csv('../data/dvdrental/customer.csv')

customer_amount_df = customer.merge(payment, how="inner", on="customer_id")[["first_name", "last_name", "amount"]]
customer_amount_df.head(20)

### Opdracht 2
Voer een join uit om te zien of er films in de inventory zijn die nooit verhuurd zijn. Welke titels horen daarbij?

In [ ]:
inventory = pd.read_csv('../data/dvdrental/inventory.csv')
rental = pd.read_csv('../data/dvdrental/rental.csv')
film = pd.read_csv('../data/dvdrental/film.csv', sep=";")

inventory_film_join = inventory.merge(rental, on="inventory_id", how = "left")
nooit_gehuurd = inventory_film_join[inventory_film_join["rental_id"].isna()]
nooit_gehuurd

In [ ]:
#Bekijk welke titel bij film_id==1 hoort
film[film["film_id"]==1]["title"]

### Opdracht 3
Maak een DataFrame als in opdracht 1, maar dan met first_name, last_name en title van alle films die een klant gehuurd heeft, op alfabetische volgorde van last_name. Zorg dat bij klanten met dezelfde achternaam first_name op alfabetische volgorde staat.

In [ ]:

joined_df = customer.merge(rental, how = "inner", on="customer_id")
joined_df = joined_df.merge(inventory, how = "left", on = "inventory_id")
joined_df = joined_df.merge(film, how = "left", on = "film_id")

name_film_df = joined_df[["first_name", "last_name", "title"]].sort_values(by=["last_name", "first_name"])
name_film_df.head(100)

## Opdrachten bij tutorial 1 - uitwerkingen

In [ ]:
import pandas as pd

In [ ]:
vgsales = pd.read_csv('../data/vgsales.csv')

In [ ]:
vgsales.head()

In [ ]:
#Opdracht 1
vgsales_per_publisher = vgsales.groupby('Publisher').agg({'Name':'size'}).reset_index()

In [ ]:
vgsales_per_publisher.columns = ['Publisher','Number_of_games']

In [ ]:
vgsales_per_publisher = vgsales_per_publisher.sort_values('Number_of_games', ascending = False)

In [ ]:
#Opdracht 2
vgsales_per_genre = vgsales.groupby('Genre').agg({'Global_Sales':'sum'}).reset_index()

In [ ]:
vgsales_per_genre = vgsales_per_genre.sort_values('Global_Sales',ascending = False)

In [ ]:
vgsales_per_genre.head()

In [ ]:
#Opdracht 3
vgsales_2009 = vgsales[vgsales["Year"]==2009]
vgsales_2009_grouped = vgsales_2009.groupby("Genre").agg({'JP_Sales':'sum', 'EU_Sales':'sum'}).reset_index()

In [ ]:
vgsales_2009_grouped.sort_values('JP_Sales', ascending = False)

Role-Playing leverde in Japen het meeste op, 17.07 miljoen. Gevolgd door Action met 39.2 miljoen.

In [ ]:
vgsales_2009_grouped.sort_values('EU_Sales', ascending = False)

In Europa leverde het genre Sports het meeste op, ook hier gevolgd door Action.

## Opdrachten bij tutorial 2 - Uitwerkingen

In [ ]:
import pandas as pd

In [ ]:
#Opdracht 1
vgsales = pd.read_csv('../data/vgsales.csv')
vgsales_sorted = vgsales.sort_values(by="Year")
vgsales_sorted[["Year","NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"]].plot(x="Year", subplots=True)

In het jaar 2006 zit bij alle 4 de grafieken een piek. Waarschijnlijk was er één spel dat erg goed verkocht. Laten we eens kijken hoe dit kan.

In [ ]:
vgsales[vgsales["Year"]==2006].sort_values(by="Global_Sales", ascending=False).head()

Deze piek is veroorzaakt door Nintendo Wii

In [ ]:
#opdracht 2
vgsales[vgsales["Year"]==2008].plot.scatter(x="NA_Sales", y="EU_Sales", alpha=0.5)

In [ ]:
#opdracht 3
vgsales_genre = vgsales[vgsales["Year"]==2010].groupby("Genre").sum()
vgsales_genre.plot.bar(y=["Global_Sales"])

### Opdracht 4
Doe hetzelfde als hierboven maar laat voor ieder sales regio een aparte bar zien.

In [ ]:
vgsales_genre.plot.bar(y=["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"])

## Tutorial 3: missing values - uitwerkingen

### Opdracht 1

In [ ]:
diamonds = pd.read_csv('../data/diamonds.csv')

In [ ]:
diamonds[diamonds['carat'].isna()]

### Opdracht 2

In [ ]:
diamonds[diamonds['price'].isna()]

### Opdracht 3

In [ ]:
diamonds_nona = diamonds.dropna()

In [ ]:
diamonds_nona.info()

### Opdracht 4

In [ ]:
#deze kopieren we van opdracht 3 - anders is diamonds_filtered nog niet gedefineerd
diamonds_filtered = diamonds[~diamonds['carat'].isna()]

In [ ]:
diamonds_filtered = diamonds_filtered[~diamonds_filtered['x'].isna()]

### Opdracht 5

In [ ]:
median_carat = diamonds['carat'].median()
diamonds['carat'] = diamonds['carat'].fillna(median_carat)

In [ ]:
diamonds.info()

### Opdracht 6

In [ ]:
diamonds['cut'] = diamonds['cut'].fillna('cut unkown')

### Opdracht 7

In [ ]:
#bijvoorbeeld
diamonds['x'] = diamonds['x'].fillna(diamonds['x'].mean())

## Tutorial 4: outliers - uitwerkingen

## Opdracht 1

In [ ]:
diamonds = pd.read_csv('../data/diamonds.csv')

In [ ]:
diamonds.boxplot('carat')

We zien dat bijna alle waarden in het interval [40-80] liggen.

## Opdracht 2

In [ ]:
Q3 = diamonds['depth'].quantile(0.75)
Q1 = diamonds['depth'].quantile(0.25)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5*IQR
upper_bound = Q3 + 1.5*IQR

In [ ]:
#Eerst een check of er outliers zijn:
diamonds[(diamonds['depth'] < lower_bound) | (diamonds['depth'] > upper_bound)]

Met de IQR methode komen er 2547 outliers naar boven, dat lijkt niet waarschijnlijk. In de boxplot, maar ook met behulp van .describe() kunnen we zien dat Q1 en Q3 heel dicht bij elkaar liggen, waardoor de upper en lower bound ook erg dicht bij elkaar liggen. Waarschijnlijk is deze methode dus te streng. Daarom verwijderen we alleen de outliers die uit de boxplot naar voren kwamen. Dus de rijen met depth kleiner dan 20 of groter dan 80.

Eerst even kijken welke dat zijn:

In [ ]:
diamonds[(diamonds['depth'] > 80) | (diamonds['depth'] < 20)]

En nu filteren we ze eruit:

In [ ]:
diamonds = diamonds[(diamonds['depth'] < 80) & (diamonds['depth'] > 20)]

We kijken met een boxplot of het gelukt is:

In [ ]:
diamonds.boxplot('depth')

### Opdracht 3

In [ ]:
diamonds.boxplot('x')

In [ ]:
diamonds.describe()

We zien dat er waarden zijn met x=0, terwijl x de lengte van de diamant in mm is. Dat kan dus niet. Laten we kijken welke rijen dat zijn:

In [ ]:
diamonds[diamonds['x']==0]

Het zijn er gelukkig niet al te veel, dus we verliezen niet teveel data als we ze verwijderen (let op: het hangt weer helemaal van je doel af wat je het beste met dit soort data kan doen.)

In [ ]:
diamonds = diamonds[diamonds['x']>0]

# Dealing with textual data in pandas - uitwerkingen

### Opdracht 1

In [ ]:
import pandas as pd
hu_tweets = pd.read_csv('../data/hu_tweets.csv')

### Opdracht 2

In [ ]:
mentions = hu_tweets['Tekst'].str.contains('@')
hu_tweets_mentioned = hu_tweets[mentions]

### Opdracht 3

In [ ]:
hashtags_count = hu_tweets['Tekst'].str.count('#')
hu_tweets['Aantal hashtags'] = hashtags_count

### Opdracht 4

In [ ]:
hu_tweets['Aantal tekens'] = hu_tweets['Tekst'].str.len()

## Tutorial 9

In [ ]:
hr_data = pd.read_csv('../../data/hr_data.csv')

### Opdracht 1

In [ ]:
hr_data.dtypes

### Opdracht 2

In [ ]:
for column in ['DOB','DateofHire','DateofTermination']:
    hr_data[column] = pd.to_datetime(hr_data[column], format = '%d/%m/%Y')

### Opdracht 3

In [ ]:
hr_data['Age'] = pd.Timestamp.now().year - hr_data['DOB'].dt.year

### Opdracht 4

In [33]:
hr_data['AgeofTermination'] = hr_data['DateofTermination'].dt.year - hr_data['DOB'].dt.year